@import "../../../styles/colors";
@import "../../../styles/constants.scss";

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 3;
  background-color: $background;
  transition: $transition;

  &:hover, &:active {
    background-color: $secondary;
    cursor: pointer;
  }
}

.mobileSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: $background;

  div {
    margin: 25px 0;
    color: $main;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 80px;
    width: 1110px;
    margin: 0 auto;
  }
}
