@import "../../../styles/constants";

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: $blue;
  z-index: 3;

  .mobileIcon {
    margin-right: 15px;
  }
}

.mobileSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: $blue;

  div {
    margin: 25px 0;
    color: $white;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 80px;
    width: 1110px;
    margin: 0 auto;
  }
}
