@import "../../../styles/constants.scss";

.nav {
  height: 50px;
  width: calc(100% - 30px);
  margin: 0 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $pink;
  
  h1 {
    font-weight: 400;
  }
}

.menu {
  color: $white;
  margin-top: 5px;
}

.linkBox {
  margin: 25px 0;
  color: $white;
  font-size: 40px;
}

@media (min-width: 768px) {
  .nav {
    height: 80px;
    width: 1110px;
    margin: 0 auto;
  }
}
