@import "../../../styles/colors";

.article {
  width: 100%;
  border-bottom: 0.1px solid $main;
  margin-bottom: 15px;

  .title {
    font-size: 24px;
    color: $secondary;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .company {
    font-size: 22px;
    color: $brand;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .fromUntil {
    color: $main;
    display: flex;
    column-gap: 5px;
    margin-bottom: 5px;
  }

  .tech {
    color: $secondary;
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    row-gap: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {}
