@import "../../../styles/colors";

.sectionSubWrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.articleWrapper {
  width: 100%;
}

.article {
  width: 100%;
  border-bottom: 0.1px solid $brand;
  padding-bottom: 5px;
  margin-bottom: 5px;
  max-width: fit-content;

  .title {
    font-size: 18px;
    color: $main;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .subTitle {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .company {
    color: $brand;
    font-weight: 600;
    margin: 0 5px 5px 0;
  }

  .fromUntil {
    color: $main;
    display: flex;
    column-gap: 5px;
    margin-bottom: 5px;

    span {
      font-size: 14px;
    }
  }

  .tech {
    color: $secondary;
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 5x;

    span {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .sectionSubWrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .articleWrapper {
    width: 33%;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        margin-top: 10px * $i;
      }
    }
  }

  .article {
    margin: 0 0 0 0;
    
    .title {
      font-size: 22px;
    }
  
    .subTitle {
      flex-flow: column wrap;
      align-items: flex-start;
    }

    .company {
      margin: 0 0 5px 0;
    }
  
    .fromUntil {
      span {
        font-size: initial;
      }
    }
  
    .tech { 
      span {
        font-size: initial;
      }
    }
  }
}
