@import "../../styles/colors";
@import "../../styles/constants";

.article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .div {
    box-shadow:
      0px 8px 10px 1px hsla(0,0%,0%,0.14),
      0px 3px 14px 2px hsla(0,0%,0%,0.12),
      0px 5px 5px -3px hsla(0,0%,0%,0.2);
    padding: 15px;
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 6px;
  
    &.link {
      cursor: pointer;
      padding: 15px 0;

      .image {
        width: 125px;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &:hover {
      .image {
        scale: calc(1.1);
      }
    }
    
    .image {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto 5px auto;
      transition: $transition;
    }

    p {
      color: $main;
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {}
