.section {
  height: 100vh;
  width: calc(100% - 50px);
  margin: 0 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

@media (min-width: 768px) {}
